<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">



    <select id="selectCourses" resultType="Course">
        SELECT c.CourseID, c.course_no, c.CourseName, c.Credits, c.DayOfWeek, c.TimePeriod
        FROM course c
        LEFT JOIN teacher t ON c.TeacherID = t.TeacherID
        WHERE 1=1
        <if test="courseNo != null and courseNo != ''">
            AND c.course_no LIKE CONCAT('%', #{courseNo}, '%')
        </if>
        <if test="courseName != null and courseName != ''">
            AND c.courseName LIKE CONCAT('%', #{courseName}, '%')
        </if>
        <if test="credit != null">
            AND c.Credits = #{credit}
        </if>
        <if test="dayOfWeek != null and dayOfWeek != ''">
            AND c.DayOfWeek LIKE CONCAT('%', #{dayOfWeek}, '%')
        </if>
        <if test="timeSlot != null and timeSlot != ''">
            AND c.TimePeriod LIKE CONCAT('%', #{timeSlot}, '%')
        </if>
        <if test="teacherName != null and teacherName != ''">
            AND t.teacher_name LIKE CONCAT('%', #{teacherName}, '%')
        </if>
        LIMIT #{offset}, #{limit}
    </select>


    <select id="getTotalCount" resultType="int">
            SELECT COUNT(*) FROM course c
            WHERE 1=1
            <if test="courseNo != null">
                AND c.course_no LIKE CONCAT('%', #{courseNo}, '%')
            </if>
            <if test="courseName != null">
                AND c.courseName LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="credit != null">
                AND c.Credits = #{credit}
            </if>
            <if test="dayOfWeek != null">
                AND c.DayOfWeek LIKE CONCAT('%', #{dayOfWeek}, '%')
            </if>
            <if test="timeSlot != null">
                AND c.TimePeriodLIKE CONCAT('%', #{timeSlot}, '%')
            </if>
    </select>


    <select id="getTotalCoursesCount" resultType="int">
            SELECT COUNT(*)
            FROM course c
            WHERE 1=1
            <if test="course_no != null and course_no != ''">
                AND c.course_no LIKE CONCAT('%', #{course_no}, '%')
            </if>
            <if test="course_name != null and course_name != ''">
                AND c.course_name LIKE CONCAT('%', #{course_name}, '%')
            </if>
            <if test="credit != null">
                AND c.Credits = #{credit}
            </if>
            <if test="day_of_week != null and day_of_week != ''">
                AND c.DayOfWeek = #{day_of_week}
            </if>
            <if test="time_slot != null and time_slot != ''">
                AND c.TimePeriod = #{time_slot}
            </if>
    </select>


    <select id="findCourses" resultType="Course">
        SELECT c.courseID, c.course_no, c.courseName, c.Credits, c.DayOfWeek, c.TimePeriod
        FROM course c
        WHERE 1=1
        <if test="course_no != null and course_no != ''">
            AND c.course_no LIKE CONCAT('%', #{course_no}, '%')
        </if>
        <if test="course_name != null and course_name != ''">
            AND c.courseName LIKE CONCAT('%', #{course_name}, '%')
        </if>
        <if test="credit != null">
            AND c.Credits = #{credit}
        </if>
        <if test="day_of_week != null and day_of_week != ''">
            AND c.DayOfWeek = #{day_of_week}
        </if>
        <if test="time_slot != null and time_slot != ''">
            AND c.TimePeriod = #{time_slot}
        </if>
        LIMIT #{page}, #{pageSize}
    </select>

    <resultMap id="courseResultMap" type="Course">
        <result property="course_no" column="course_no"/>
        <!-- 其他字段映射 -->
    </resultMap>





</mapper>
