<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SCMapper">

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM sc
        WHERE 1=1
        <if test="studentNo != null">
            AND sc.student_no LIKE CONCAT('%', #{studentNo}, '%')
        </if>
        <if test="courseNo != null">
            AND sc.course_no LIKE CONCAT('%', #{courseNo}, '%')
        </if>
        <if test="buyTextbook != null">
            AND sc.buy_textbook = #{buyTextbook}
        </if>
        <if test="minGrade != null">
            AND sc.grade >= #{minGrade}
        </if>
        <if test="maxGrade != null">
            AND sc.grade <= #{maxGrade}
        </if>
    </select>

</mapper>
