<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">
<!--    &lt;!&ndash; 计算总记录数 &ndash;&gt;-->
<!--    <select id="countCourses" resultType="long">-->
<!--        SELECT COUNT(*) FROM course;-->
<!--    </select>-->

    <!-- 查询分页数据 -->
    <select id="findCourses" resultType="com.example.pojo.Course">
        SELECT c.courseId, c.courseName, c.credits, t.Name AS teacherName
        FROM course c
        JOIN teacher t ON c.TeacherID = t.TeacherID;
    </select>



    <select id="findStudents" resultType="Student">
            SELECT * FROM student WHERE 1=1
            <if test="studentNo != null">
                AND student_no LIKE CONCAT('%', #{studentNo}, '%')
            </if>
            <if test="studentName != null">
                AND Name LIKE CONCAT('%', #{studentName}, '%')
            </if>
            <if test="studentDept != null">
                AND DeptID IN (
                SELECT DeptID FROM department
                WHERE DeptName LIKE CONCAT('%', #{studentDept}, '%')
                )
            </if>
            <if test="studentDOB != null">
                AND DOB LIKE CONCAT('%', #{studentDOB}, '%')
            </if>
            <if test="studentSex != null">
                AND Gender = #{studentSex}
            </if>
            LIMIT #{offset}, #{limit}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM student WHERE 1=1
        <if test="studentNo != null">
            AND student_no LIKE CONCAT('%', #{studentNo}, '%')
        </if>
        <if test="studentName != null">
            AND student_name LIKE CONCAT('%', #{studentName}, '%')
        </if>
        <if test="studentDept != null">
            AND student_dept_id IN (
            SELECT dept_id FROM departments
            WHERE dept_name LIKE CONCAT('%', #{studentDept}, '%')
            )
        </if>
        <if test="studentDOB != null">
            AND student_DOB LIKE CONCAT('%', #{studentDOB}, '%')
        </if>
        <if test="studentSex != null">
            AND student_sex = #{studentSex}
        </if>
    </select>

</mapper>
